<div class="body">
<div class="forgot-password-container">
  <a href="#" class="logo"><img src="assets/mpiag.png" alt="Logo de l'entreprise" class="logo"></a>
  <h1>Mot de Passe Oublié</h1>
  <p>Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>

  <form action="#" method="POST">
    <div class="form-group">
      <label for="email">Adresse E-mail</label>
      <input type="email" id="email" name="email" required placeholder="Entrez votre adresse e-mail">
    </div>

    <button type="submit" class="submit-button">Envoyer</button>

    <div class="back-to-login">
      Vous vous souvenez de votre mot de passe ? <a href=" /login">Connectez-vous</a>
    </div>
  </form>
</div>
</div>

